<%= form_for(@thermometer) do |f| %>
  <% if @thermometer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thermometer.errors.count, "error") %> prohibited this thermometer from being saved:</h2>

      <ul>
      <% @thermometer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :temp %><br>
    <%= f.number_field :temp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
